<html>
    <body>
        <h1>Homepage</h1>
        <form action="/search" method="get" id="form">
            <input class="search" name="searchQuery"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>