<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    </head>
    <body>
        <h1>Homepage</h1>
        <form action="/search" method="get" id="form">
            <input class="search" name="searchQuery"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>