<html>
    <body>
        <h1>You searched for: <%= data.searchQuery %></h1>
        <p>
            <% data.goodReadsResponse.forEach(function(book) { %>
                <li><%= book.title %></li>
            <% }); %>
        </p>
    </body>
</html>